*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7rem;
    background-color: lightseagreen;
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-bottom: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 90%;
    height: auto;
    background-color: white;
    padding: 30px;
    margin-top: 20px;
}
h1 {
    font-size: 2rem;
    text-align: center;
    color: darkslategrey;
    margin-bottom: 15px;
}
    
form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
  
input {
    font-size: 1rem;
    padding: 15px 0;
    outline: none;
}
  
.btn-add {
  padding: 5px 15px;
  border: none;
  color: white;
  background-color: teal;
  font-size: 1.4rem;
  outline: none;
}

.btn-add:hover {
  cursor: pointer;
  background-color: darkcyan;
}
 
li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: 100%;
    background-color: lightgray;
    border-radius: 10px;
    margin: 15px 0;
    height: auto;
}
  
li p {
    font-size: 1rem;
    padding: 15px;
}
  
.btn-delete {
    margin-left: auto;
    border: none;
    background-color: #e31746;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 15%;
    font-size: 1.2em;
}
  
.btn-delete:hover {
  cursor: pointer;
  background-color: lightseagreen;
}

.li-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: auto;
  color: darkslategray;
  margin-top: 20px;
}

.btnAll-delete {
  border: none;
  background-color: #e31746;
  color: white;
  font-weight: bold;
  padding: 10px 60px;
  outline: none;
  border-radius: 10px;
  font-size: 1rem;
}

.btnAll-delete:hover {
  cursor: pointer;
  background-color: lightseagreen;
}

.empty {
  font-size: 1.2rem;
  color: darkslategrey;
}


/* FOOTER */
footer{
  position:fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
  background-color: rgb(9, 155, 147);
}
footer p{
  font-size: 1.2rem;
  color: white;
  text-align: center;
  margin: 12px 0;
}
footer p a{
  color: rgb(122, 247, 247);
  text-decoration: none;
}


@media (min-width: 425px){
  h1{
    font-size: 2.2rem;
    margin-bottom: 25px;
  }

  input{
    font-size: 1.3rem;
    padding: 15px 10px;
  }

  li p {
    font-size: 1.2rem;
}
  
  .btnAll-delete {
    padding: 10px 92px;
    font-size: 1.2rem;
  }
}